/ControllerProject/ESkateBoardController/Library
/ControllerProject/ESkateBoardController/Logs
/ControllerProject/ESkateBoardController/.vs
/ControllerProject/ESkateBoardController/obj
/ControllerProject/ESkateBoardController/Temp
/ControllerProject/BluetoothAndroidProject/*.iml
/ControllerProject/BluetoothAndroidProject/.idea
/ControllerProject/BluetoothAndroidProject/btccontroller/build
/ControllerProject/BluetoothAndroidProject/btccontroller/*.iml
/ControllerProject/BluetoothAndroidProject/.gradle
/ControllerProject/BluetoothAndroidProject/local.properties
/SkateBoardDriver/.vs
/SkateBoardDriver/SkateBoardDriver/Debug
/SkateBoardDriver/SkateBoardDriver/__vm
